<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
    <div id="app">
        <div>数值A: <input type="text" v-model="a"></div>
        <div>数值B: <input type="text" v-model='b' @keyup.enter='add(a,b)'></div>
        <button @click.stop="add(a,b)">计算</button>
        <div v-cloakv>计算结果:{{sum}}</div v>
    </div>
    <script src="./vue.js"></script>
    <script>
        let vm = new Vue({
            el: "#app",
            data: {
                a: '',
                b: '',
                sum: ''
            },
            methods: {
                add: function(p1,p2){
                    p1 = parseInt(p1);
                    p2 = parseInt(p2);
                    this.sum = p1+p2;
                }
            }
        })
    </script>
</body>
</html>